<mat-form-field 
  [ngStyle]="{'text-align': centerText ? 'center' : 'left'}"
  style="position: relative">
  <mat-label>{{label}}</mat-label>
  <input #inp 
    matInput 
    smSpecialChar 
    [whitelist]="'numeric'"
    style="position: relative"
    [ngStyle]="{'right': prefixOffset(inp.value) + 'px' }"
  />
  <input #suffix 
    matInput 
    value="{{ inp.value ? calcFollowedBy() : ''}}" 
    class="suffix" 
    [disabled]="true"
    [ngStyle]="{'left': suffixOffset(inp.value) + 'px'}" 
  />
</mat-form-field>